.section-about {
  padding-top: 20px;
  height: 100vh;
  padding-top: 50px;
}

.section-about p {
  padding: 30px;
  font-size: 22px;
  font-weight: 400;
  padding-top: 40px;
  padding-left: 15%;

  width: 70%;
  text-align: justify;
}
/* 
@media only screen and (max-width: 930px) {
  .section-about {
    height: 100%;
  }

  .section-about p {
    font-size: 16px;
    font-weight: 400;
  }
} */

@media only screen and (max-width: 1005px) {
  .section-about {
    height: 100%;
  }
}
